.header {
    text-align: center;
    color: rgb(47, 21, 196);
    padding: 2rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.377);
    border-radius: 22px;
}
.griffins {
    text-align: center;
    color: brown;
    padding: 2rem;
}